<div class="crud-container">
  <div class="crud-card">
    <h1>Create Partner</h1>
    
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <!-- TODO: Add form fields for Partner -->

      <div class="form-actions">
        <button 
          type="button" 
          (click)="onCancel()" 
          class="btn btn-secondary"
        >
          Cancel
        </button>
        <button 
          type="submit" 
          [disabled]="createForm.invalid"
          class="btn btn-primary"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
